* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    outline: none;
    font-family: serif;

}

.contenier{

    width: 100w;
    height: 100%;
    background-image: url(https://wallpaperaccess.com/full/2028889.jpg);
    background-repeat: no-repeat;
    padding: 200px;
    
}
.contenier .box {

    width: 700px;
    height: 400px;
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
    background-color: white;
}

.contenier .box .box1{
    width: 350px;
    height: 100%;
    border: 2px solid white;
    border-radius: 15px;
    background-color: white;
    padding: 20px;

}

.contenier .box .box2{
    padding: 50px;
    width: 350px;
    height: 100%;
    border: 2px solid white;
    border-radius: 15px;
    background-color: white;
  


}

.img {
    width:100%;
    height: 270px;
    margin: 0 auto;
}

.contenier .box .box1 .box1wone{
    display: flex;
    flex-direction: column ;
}

.text{

    color:rgb(4, 168, 239);
    padding: 5px;

}

.boxses{
    display: flex;

}

.boxmin{
    
    border: 1px solid rgb(4, 168, 239);
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    color: rgb(4, 168, 239);
  
    
}

.text2{

    color: rgb(4, 168, 239);
}
#size{
    
    color: rgb(4, 168, 239);
}

.contenier .box .box2 .narxi{
    padding: 5px;
    color:rgb(4, 168, 239);
}

.contenier .box .box2 .lorem {
    padding: 2px;
}


button {
    margin-top: 32px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color:rgb(0, 94, 246); 
    color: white;
    border: white;
    color: white
}
    
a{
    color: white
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    0px;
}